
//Theme color
// $theme-color1: #28A745;
$theme-color1: #0087CD;
$theme-color2: #faca7d;
$hover-color: #FF5E1F;
$bg-color1: #f0f0f0;

// Font Family
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
$font_1: 'Arbutus Slab', serif;
